
{% extends './layout.html' %}
{% block self_css %}
{% endblock %}
{% block content %}
<pre>
minecraft:stone 石头
　　minecraft:grass 草方块
　　minecraft:dirt 泥土
　　minecraft:cobblestone 圆石
　　minecraft:planks 木板
　　minecraft:sapling 树苗
　　minecraft:bedrock 基岩
　　minecraft:flowing_water 水
　　minecraft:water 静态水
　　minecraft:flowing_lava 岩浆
　　minecraft:lava 静态岩浆
　　minecraft:sand 沙子
　　minecraft:gravel 沙砾
　　minecraft:gold_ore 金矿石
　　minecraft:iron_ore 铁矿石
　　minecraft:coal_ore 煤矿石
　　minecraft:log 木头
　　minecraft:leaves 树叶
　　minecraft:sponge 海绵
　　minecraft:glass 玻璃
　　minecraft:lapis_ore 青金石矿石
　　minecraft:lapis_block 青金石块
　　minecraft:dispenser 发射器
　　minecraft:sandstone 沙石
　　minecraft:noteblock 音符盒
　　minecraft:bed 床
　　minecraft:golden_rail 充能铁轨
　　minecraft:detector_rail 探测铁轨
　　minecraft:sticky_piston 粘性活塞
　　minecraft:web 蜘蛛网
　　minecraft:tallgrass 草丛
　　minecraft:deadbush 枯死的灌木
　　minecraft:piston 活塞
　　minecraft:piston_head 活塞臂
　　minecraft:wool 羊毛
　　minecraft:piston_extension 移动的活塞臂
　　minecraft:yellow_flower 蒲公英
　　minecraft:red_flower 罂粟
　　minecraft:brown_mushroom 棕色蘑菇
　　minecraft:red_mushroom 红色蘑菇
　　minecraft:gold_block 金块
　　minecraft:iron_block 铁块
　　minecraft:double_stone_slab 双石台阶
　　minecraft:stone_slab 石台阶
　　minecraft:brick_block 砖块
　　minecraft:tnt TNT
　　minecraft:bookshelf 书架
　　minecraft:mossy_cobblestone 苔石
　　minecraft:obsidian 黑曜石
　　minecraft:torch 火把
　　minecraft:fire 火
　　minecraft:mob_spawner 刷怪箱
　　minecraft:oak_stairs 橡木楼梯
　　minecraft:chest 箱子E
　　minecraft:redstone_wire 红石线
　　minecraft:diamond_ore 钻石矿石
　　minecraft:diamond_block 钻石块
　　minecraft:crafting_table 工作台
　　minecraft:wheat 小麦
　　minecraft:farmland 耕地
　　minecraft:furnace 熔炉E
　　minecraft:lit_furnace 燃烧的熔炉E
　　minecraft:standing_sign 站立的告示牌
　　minecraft:wooden_door 木门
　　minecraft:ladder 梯子
　　minecraft:rail 铁轨
　　minecraft:stone_stairs 圆石楼梯
　　minecraft:wall_sign 墙上的告示牌E
　　minecraft:lever 拉杆
　　minecraft:stone_pressure_plate 石质压力板
　　minecraft:iron_door 铁门
　　minecraft:wooden_pressure_plate 木质压力板
　　minecraft:redstone_ore 红石矿石
　　minecraft:lit_redstone_ore 发光的红石矿石
　　minecraft:unlit_redstone_torch 红石火把(未开启)
　　minecraft:redstone_torch 红石火把(已开启)
　　minecraft:stone_button 石质按钮
　　minecraft:snow_layer 雪
　　minecraft:ice 冰
　　minecraft:snow 雪块
　　minecraft:cactus 仙人掌
　　minecraft:clay 粘土
　　minecraft:reeds 甘蔗
　　minecraft:jukebox 唱片机E
　　minecraft:fence 栅栏
　　minecraft:pumpkin 南瓜
　　minecraft:netherrack 地狱岩
　　minecraft:soul_sand 灵魂沙
　　minecraft:glowstone 萤石
　　minecraft:portal 下界传送门
　　minecraft:lit_pumpkin 南瓜灯
　　minecraft:cake 蛋糕
　　minecraft:unpowered_repeater 红石中继器(未开启)
　　minecraft:powered_repeater 红石中继器(已开启)
　　minecraft:stained_glass 染色玻璃
　　minecraft:trapdoor 活板门
　　minecraft:monster_egg 怪物蛋
　　minecraft:stonebrick 石砖
　　minecraft:brown_mushroom_block 棕色巨型蘑菇
　　minecraft:red_mushroom_block 红色巨型蘑菇
　　minecraft:iron_bars 铁栏杆
　　minecraft:glass_pane 玻璃板
　　minecraft:melon_block 西瓜片
　　minecraft:pumpkin_stem 南瓜梗
　　minecraft:melon_stem 西瓜梗
　　minecraft:vine 藤蔓
　　minecraft:fence_gate 栅栏门
　　minecraft:brick_stairs 砖块楼梯
　　minecraft:stone_brick_stairs 石砖楼梯
　　minecraft:mycelium 菌丝
　　minecraft:waterlily 睡莲
　　minecraft:nether_brick 地狱砖块
　　minecraft:nether_brick_fence 地狱砖栅栏
　　minecraft:nether_brick_stairs 地狱砖楼梯
　　minecraft:nether_wart 地狱疣
　　minecraft:enchanting_table 附魔台
　　minecraft:brewing_stand 酿造台
　　minecraft:cauldron 炼药锅
　　minecraft:end_portal 末地传送门
　　minecraft:end_portal_frame 末地传送门框架
　　minecraft:end_stone 末地石
　　minecraft:dragon_egg 龙蛋
　　minecraft:redstone_lamp 红石灯(未开启)
　　minecraft:lit_redstone_lamp 红石灯(已开启)
　　minecraft:double_wooden_slab 双木台阶
　　minecraft:wooden_slab 木台阶
　　minecraft:cocoa 可可果
　　minecraft:sandstone_stairs 沙石楼梯
　　minecraft:emerald_ore 绿宝石矿石
　　minecraft:ender_chest 末影箱E
　　minecraft:tripwire_hook 绊线钩
　　minecraft:tripwire 绊线
　　minecraft:emerald_block 绿宝石块
　　minecraft:spruce_stairs 云杉楼梯
　　minecraft:birch_stairs 桦木楼梯
　　minecraft:jungle_stairs 丛林楼梯
　　minecraft:command_block 命令方块
　　minecraft:beacon 信标
　　minecraft:cobblestone_wall 圆石墙
　　minecraft:flower_pot 花盆
　　minecraft:carrots 胡萝卜
　　minecraft:potatoes 马铃薯
　　minecraft:wooden_button 木质按钮
　　minecraft:skull 生物头颅
　　minecraft:anvil 铁砧
　　minecraft:trapped_chest 陷阱箱E
　　minecraft:light_weighted_pressure_plate 轻质测重压力板
　　minecraft:heavy_weighted_pressure_plate 重质测重压力板
　　minecraft:unpowered_comparator 红石比较器(未开启)
　　minecraft:powered_comparator 红石比较器(已开启)
　　minecraft:daylight_detector 阳光传感器
　　minecraft:redstone_block 红石块
　　minecraft:quartz_ore 下界石英矿石
　　minecraft:hopper 漏斗E
　　minecraft:quartz_block 石英块
　　minecraft:quartz_stairs 石英楼梯
　　minecraft:activator_rail 激活铁轨
　　minecraft:dropper 投掷器E
　　minecraft:stained_hardened_clay 染色粘土
　　minecraft:stained_glass_pane 染色玻璃板
　　minecraft:leaves2 树叶(金合欢/深色橡木)
　　minecraft:log2 木头(金合欢/深色橡木)
　　minecraft:acacia_stairs 金合欢楼梯
　　minecraft:dark_oak_stairs 深色橡木楼梯
　　minecraft:slime 粘液块
　　minecraft:barrier 屏障
　　minecraft:iron_trapdoor 铁活板门
　　minecraft:prismarine 海晶石
　　minecraft:sea_lantern 海晶灯
　　minecraft:hay_block 干草块
　　minecraft:carpet 地毯
　　minecraft:hardened_clay 硬化粘土
　　minecraft:coal_block 煤炭块
　　minecraft:packed_ice 浮冰
　　minecraft:large_flowers 大型花
　　minecraft:standing_banner 站立的旗帜
　　minecraft:wall_banner 墙上的旗帜
　　minecraft:daylight_detector_inverted 反向阳光传感器
　　minecraft:red_sandstone 红沙石
　　minecraft:red_sandstone_stairs 红沙石楼梯
　　minecraft:double_stone_slab2 双红沙石台阶
　　minecraft:stone_slab2 红沙石台阶
　　minecraft:spruce_fence_gate 云杉木栅栏门
　　minecraft:birch_fence_gate 白桦木栅栏门
　　minecraft:jungle_fence_gate 丛林木栅栏门
　　minecraft:dark_oak_fence_gate 深色橡木栅栏门
　　minecraft:acacia_fence_gate 金合欢栅栏门
　　minecraft:spruce_fence 云杉木栅栏
　　minecraft:birch_fence 白桦木栅栏
　　minecraft:jungle_fence 丛林木栅栏
　　minecraft:dark_oak_fence 深色橡木栅栏
　　minecraft:acacia_fence 金合欢栅栏
　　minecraft:spruce_door 云杉木门
　　minecraft:birch_door 白桦木门
　　minecraft:jungle_door 丛林木门
　　minecraft:acacia_door 金合欢木门
　　minecraft:dark_oak_door 深色橡木门
　　minecraft:end_rod 末地烛
　　minecraft:chorus_plant 紫影植物
　　minecraft:chorus_flower 紫影花
　　minecraft:purpur_block 紫珀块
　　minecraft:purpur_pillar 竖纹紫珀块
　　minecraft:purpur_stairs 紫珀块楼梯
　　minecraft:purpur_double_slab Purpur Double Slab
　　minecraft:purpur_slab 紫珀块台阶
　　minecraft:end_bricks 末地石砖
　　minecraft:beetroots 甜菜种子
　　minecraft:grass_path 草径
　　minecraft:end_gateway 末地折跃门方块
　　minecraft:repeating_command_block 循环型命令方块
　　minecraft:chain_command_block 连锁型命令方块
　　minecraft:frosted_ice 霜冰
　　minecraft:structure_block 结构方块
    　minecraft:iron_shovel 铁锹

　　minecraft:iron_pickaxe 铁镐

　　minecraft:iron_axe 铁斧

　　minecraft:flint_and_steel 打火石

　　minecraft:apple 苹果

　　minecraft:bow 弓

　　minecraft:arrow 箭

　　minecraft:coal 煤炭

　　minecraft:diamond 钻石

　　minecraft:iron_ingot 铁锭

　　minecraft:gold_ingot 金锭

　　minecraft:iron_sword 铁剑

　　minecraft:wooden_sword 木剑

　　minecraft:wooden_shovel 木锹

　　minecraft:wooden_pickaxe 木镐

　　minecraft:wooden_axe 木斧

　　minecraft:stone_sword 石剑

　　minecraft:stone_shovel 石锹

　　minecraft:stone_pickaxe 石镐

　　minecraft:stone_axe 石斧

　　minecraft:diamond_sword 钻石剑

　　minecraft:diamond_shovel 钻石锹

　　minecraft:diamond_pickaxe 钻石镐

　　minecraft:diamond_axe 钻石斧

　　minecraft:stick 木棍

　　minecraft:bowl 碗

　　minecraft:mushroom_stew 蘑菇煲

　　minecraft:golden_sword 金剑

　　minecraft:golden_shovel 金锹

　　minecraft:golden_pickaxe 金镐

　　minecraft:golden_axe 金斧

　　minecraft:string 线

　　minecraft:feather 羽毛

　　minecraft:gunpowder 火药

　　minecraft:wooden_hoe 木锄

　　minecraft:stone_hoe 石锄

　　minecraft:iron_hoe 铁锄

　　minecraft:diamond_hoe 钻石锄

　　minecraft:golden_hoe 金锄

　　minecraft:wheat_seeds 小麦种子

　　minecraft:wheat 小麦

　　minecraft:bread 面包

　　minecraft:leather_helmet 皮革帽子

　　minecraft:leather_chestplate 皮革外套

　　minecraft:leather_leggings 皮革裤子

　　minecraft:leather_boots 皮革靴子

　　minecraft:chainmail_helmet 锁链头盔

　　minecraft:chainmail_chestplate 锁链胸甲

　　minecraft:chainmail_leggings 锁链护腿

　　minecraft:chainmail_boots 锁链靴子

　　minecraft:iron_helmet 铁头盔

　　minecraft:iron_chestplate 铁胸甲

　　minecraft:iron_leggings 铁护腿

　　minecraft:iron_boots 铁靴子

　　minecraft:diamond_helmet 钻石头盔

　　minecraft:diamond_chestplate 钻石胸甲

　　minecraft:diamond_leggings 钻石护腿

　　minecraft:diamond_boots 钻石靴子

　　minecraft:golden_helmet 金头盔

　　minecraft:golden_chestplate 金胸甲

　　minecraft:golden_leggings 金护腿

　　minecraft:golden_boots 金靴子

　　minecraft:flint 燧石

　　minecraft:porkchop 生猪排

　　minecraft:cooked_porkchop 熟猪排

　　minecraft:painting 画

　　minecraft:golden_apple 金苹果

　　minecraft:sign 告示牌

　　minecraft:wooden_door 木门

　　minecraft:bucket 桶

　　minecraft:water_bucket 水桶

　　minecraft:lava_bucket 岩浆桶

　　minecraft:minecart 矿车

　　minecraft:saddle 鞍

　　minecraft:iron_door 铁门

　　minecraft:redstone 红石粉

　　minecraft:snowball 雪球

　　minecraft:boat 船

　　minecraft:leather 皮革

　　minecraft:milk_bucket 牛奶

　　minecraft:brick 红砖

　　minecraft:clay_ball 粘土

　　minecraft:reeds 甘蔗

　　minecraft:paper 纸

　　minecraft:book 书

　　minecraft:slime_ball 粘液球

　　minecraft:chest_minecart 运输矿车

　　minecraft:furnace_minecart 动力矿车

　　minecraft:egg 鸡蛋

　　minecraft:compass 指南针

　　minecraft:fishing_rod 钓鱼竿

　　minecraft:clock 钟

　　minecraft:glowstone_dust 萤石粉

　　minecraft:fish 生鱼

　　minecraft:cooked_fish 熟鱼

　　minecraft:dye 染料

　　minecraft:bone 骨头

　　minecraft:sugar 糖

　　minecraft:cake 蛋糕

　　minecraft:bed 床

　　minecraft:repeater 红石中继器

　　minecraft:cookie 曲奇

　　minecraft:filled_map 地图

　　minecraft:shears 剪刀

　　minecraft:melon 西瓜片

　　minecraft:pumpkin_seeds 南瓜种子

　　minecraft:melon_seeds 西瓜种子

　　minecraft:beef 生牛肉

　　minecraft:cooked_beef 牛排

　　minecraft:chicken 生鸡肉

　　minecraft:cooked_chicken 熟鸡肉

　　minecraft:rotten_flesh 腐肉

　　minecraft:ender_pearl 末影珍珠

　　minecraft:blaze_rod 烈焰棒

　　minecraft:ghast_tear 恶魂之泪

　　minecraft:gold_nugget 金粒

　　minecraft:nether_wart 地狱疣

　　minecraft:potion 药水

　　minecraft:glass_bottle 玻璃瓶

　　minecraft:spider_eye 蜘蛛眼

　　minecraft:fermented_spider_eye 发酵蛛眼

　　minecraft:blaze_powder 烈焰粉

　　minecraft:magma_cream 岩浆膏

　　minecraft:brewing_stand 酿造台

　　minecraft:cauldron 炼药锅

　　minecraft:eye_of_ender 末影之眼

　　minecraft:speckled_melon 闪烁的西瓜

　　minecraft:spawn_egg 刷怪蛋

　　minecraft:experience_bottle 附魔之瓶

　　minecraft:fire_charge 火焰弹

　　minecraft:writable_book 书与笔

　　minecraft:written_book 成书

　　minecraft:emerald 绿宝石

　　minecraft:item_frame 物品展示框

　　minecraft:flower_pot 花盆

　　minecraft:carrot 胡萝卜

　　minecraft:potato 马铃薯

　　minecraft:baked_potato 烤马铃薯

　　minecraft:poisonous_potato 毒马铃薯

　　minecraft:map 空地图

　　minecraft:golden_carrot 金胡萝卜

　　minecraft:skull 生物头颅

　　minecraft:carrot_on_a_stick 胡萝卜钓竿

　　minecraft:nether_star 下界之星

　　minecraft:pumpkin_pie 南瓜派

　　minecraft:fireworks 烟花火箭

　　minecraft:firework_charge 烟火之星

　　minecraft:enchanted_book 附魔书

　　minecraft:comparator 红石比较器

　　minecraft:netherbrick 地狱砖

　　minecraft:quartz 下界石英

　　minecraft:tnt_minecart TNT矿车

　　minecraft:hopper_minecart 漏斗矿车

　　minecraft:prismarine_shard 海晶碎片

　　minecraft:prismarine_crystals 海晶砂粒

　　minecraft:rabbit 生兔肉

　　minecraft:cooked_rabbit 熟兔肉

　　minecraft:rabbit_stew 兔肉煲

　　minecraft:rabbit_foot 兔子脚

　　minecraft:rabbit_hide 兔子皮

　　minecraft:armor_stand 盔甲架

　　minecraft:iron_horse_armor 铁马铠

　　minecraft:golden_horse_armor 金马铠

　　minecraft:diamond_horse_armor 钻石马铠

　　minecraft:lead 拴绳

　　minecraft:name_tag 命名牌

　　minecraft:command_block_minecart 命令方块矿车

　　minecraft:mutton 生羊肉

　　minecraft:cooked_mutton 熟羊肉

　　minecraft:banner 旗帜

　　minecraft:spruce_door 云杉木门

　　minecraft:birch_door 白桦木门

　　minecraft:jungle_door 丛林木门

　　minecraft:acacia_door 金合欢木门

　　minecraft:dark_oak_door 深色橡木门

　　minecraft:chorus_fruit 紫影果

　　minecraft:popped_chorus_fruit 爆裂紫影果

　　minecraft:beetroot 甜菜根

　　minecraft:beetroot_seeds 甜菜种子

　　minecraft:beetroot_soup 甜菜汤

　　minecraft:dragon_breath 龙息

　　minecraft:splash_potion 喷溅药水

　　minecraft:spectral_arrow 光灵箭

　　minecraft:tipped_arrow 药箭

　　minecraft:lingering_potion 滞留药水

　　minecraft:shield 盾牌

　　minecraft:elytra 滑翔翅

　　minecraft:spruce_boat 云杉船

　　minecraft:birch_boat 白桦船

　　minecraft:jungle_boat 丛林船

　　minecraft:acacia_boat 金合欢船

　　minecraft:dark_oak_boat 深色橡木船

　　minecraft:record_13 13唱片

　　minecraft:record_cat cat唱片

　　minecraft:record_blockslocks唱片

　　minecraft:record_chirp chirp唱片

　　minecraft:record_far far唱片

　　minecraft:record_mall mall唱片

　　minecraft:record_mellohi mellohi唱片

　　minecraft:record_stal stal唱片

　　minecraft:record_strad strad唱片

　　minecraft:record_ward ward唱片

　　minecraft:record_11 11唱片

　　minecraft:record_wait wait唱片
</pre>
{% endblock %}
{% block self_script %}
{% endblock %}
